.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-gradient {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.name-input-text {
  width: 100%;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 1.5rem;
}

.name-input-login {
  width: 35%;
  font-size: 1rem;
  height: 2rem;
  border-radius: 5px;
  border: none;
}

select.name-input-login {
  border: none;
}

.login-btn {
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  width: 8rem;
}

.header-sx {
  background-color: #456cec;
}

textarea:focus, input:focus{
    outline: none;
}

.avatar {
  color: white;
}

.smiley-box {
  border-radius: 25px;
}

.smiley-box-good {
  background-color: #26a334;
}

.smiley-box-good:hover {
  background-color: #35cc47;
}

.smiley-box-good:not(:hover){
  transition: 0.15s;
  background-color: #26a334;
}

.smiley-box-neutral {
  background-color: #959695;
}

.smiley-box-neutral:hover {
  background-color: #b5b5b5
}

.smiley-box-neutral:not(:hover){
  background-color: #959695;
  transition: 0.15s;
}

.smiley-box-bad {
  background-color: #c42727;
}

.smiley-box-bad:hover{
  background-color: #ed5555;
  transition: 0.15s;
}

.smiley-box-bad:not(:hover) { 
  background-color: #c42727;
  transition: 0.15s; 
} 
.slide-container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.base-bg {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.slider-btn {
  width: 25%;
}

.slide-container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.base-bg {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.slider-btn {
  width: 25%;
}
